[package]
name = "vault"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
soroban-sdk = { workspace = true }
algo_history = { path = "../algo_history" }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
